* {
	padding: 0%;
	margin: 0%;
}
.app {
	background: url(https://images.unsplash.com/photo-1593046584078-ddc9dc530ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);

	zoom: 0.95; /*all browsers*/
	-moz-transform: scale(0.95); /*Firefox*/

	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -30rem;

	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	position: relative;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.navBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	flex: 1;
	padding: 1rem;
	font-size: 2.5rem;
	font-family: fantasy;
}

.navLinks {
	width: 0%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: '1';
	place-content: 'center';
	padding: 0;
	list-style: none;
}

.navLinks > a {
	text-decoration: none;
	border: none;
	font-weight: bold;
	color: white;
	padding: 5px;
}
.navLogo > a {
	text-decoration: none;
	border: none;
	font-weight: bold;
	color: white;
}
.navLinks > a:hover {
	text-decoration: underline;
	border: none;
	color: #df784d;
}

.home {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 20%;
}
.home-text > h1 {
	color: white;
	font-family: optima;
	font-weight: bold;
	font-size: 80px;
	color: #fff;
	text-align: center;
}
.home-text-h2 {
	letter-spacing: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home-btn > button {
	font-size: 20px;
	text-align: center;
	border: none;
	outline-width: 0;
	padding: 10px 20px;
	background-color: transparent;
	border: 2px solid white;
	color: #fff;
}

.home-btn > button:hover {
	text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
		0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70 ox #ff4da6, 0 0 80px #ff4da6;
}
.App_about {
	margin-bottom: 50px;
	padding: 20px;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10vh;
	padding: 10px 20px;
	background-color: #bdbdbd;
}
.footerIcons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.footerIcons > a {
	text-decoration: none;
	border: none;
	font-weight: bold;
	color: black;
	margin-top: 20px;
}
.footerIcons > a:hover {
	color: #df784d;
	text-decoration: none;
	border: none;
}
.footerIcons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.about-title {
	margin-top: 100px;
	padding-top: 100px;
}
.about-body {
	margin-top: 200px;
	padding: 20px;
}
.resButton {
	margin-top: 40px;
}
.resumeBody {
	text-align: justify;
	height: 100vh;
	margin: 30px 10px;
}
